body{
    width: 100%;
    font-family: 'Roboto',sans-serif;
}
.head{
    max-width: 960px;
    margin: 20px auto;
}
a{
    text-decoration: none;
}
hr{
    margin-left: 2%;
}
p{
    color:#262626;
}
.header{
    font-weight: 500;
    font-size: 36px;
}
.search{
    text-align: center;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 4rem;
    background-position-y: .6rem;
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 4px;
    outline: none;
}
.content{
    max-width: 960px;
    margin: 0 auto;
}
.dots{
    color: black;
    font-weight: 900;
}
.link{
    color: rgba(19, 55, 104, 1);
}
.grey{
    opacity: 0.5;
    text-align: center;
}
.buttons{
    border: none;
    border-radius: 0;
    outline: none;
}
.posts{
    text-decoration: overline;
}
@media (max-width: 992px){
    .photo{
        width: 230px;
    }
}
@media (max-width: 768px){
    .photo{
        width: 160px;
    }
}
@media (max-width: 560px){
    .photo{
        width: 120px;
    }
}
